<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
		<script type="text/javascript" src="../scripts/common.js"></script>
		<script type="text/javascript" src="../scripts/function.js" charset="utf-8"></script>
		<link type="text/css" href="../styles/css/common.css" rel="stylesheet" />
		<link type="text/css" href="../styles/css/login.css" rel="stylesheet" />
		<title>辅导员考核系统 - uces</title>
	</head>
	<body class="account-body" id="function" onload="load()">
		<div class="login-block">
			<div class="login-block-title">
				<p class="title-CHN"><strong>辅导员考核系统</strong></p>
				<p class="title-ENG">University Counsellor Evaluation System</p>
			</div>
			<div class="login-block-body">
				<div class="button-item js-info">
					<span>信息录入</span>
				</div>
				<div class="button-item js-eval">
					<span>进入考核</span>
				</div>
				<div class="button-item js-reboot">
					<span>一键重置</span>
				</div>
			</div>
			<p class="copyright">Copyright © 2016 Luo Lin 版权所有</p>
		</div>
	</body>
</html>