<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
		<script type="text/javascript" src="../scripts/common.js"></script>
		<script type="text/javascript" src="../scripts/login.js" charset="utf-8"></script>
		<link type="text/css" href="../styles/css/common.css" rel="stylesheet" />
		<link type="text/css" href="../styles/css/login.css" rel="stylesheet" />
		<title>辅导员考核系统 - uces</title>
	</head>
	<body class="account-body" id="login">
		<div class="login-block">
			<div class="login-block-title">
				<p class="title-CHN"><strong>辅导员考核系统</strong></p>
				<p class="title-ENG">University Counsellor Evaluation System</p>
			</div>
			<div class="login-block-body">
				<div class="input-item">
					<input class="input-block js-username" type="text" placeholder="账号"/>
				</div>
				<div class="input-item">
					<input class="input-block js-password" type="password" placeholder="密码"/>
				</div>
				<div class="button-item js-login">
					<span>立即登录</span>
				</div>
			</div>
			<p class="copyright">Copyright © 2016 Luo Lin 版权所有</p>
		</div>
	</body>
</html>