<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
		<script type="text/javascript" src="../scripts/common.js"></script>
		<script type="text/javascript" src="../scripts/select.js" charset="utf-8"></script>
		<link type="text/css" href="../styles/css/common.css" rel="stylesheet"/>
		<link type="text/css" href="../styles/css/eval.css" rel="stylesheet" />
		<title>辅导员考核系统 - uces</title>
	</head>
	<body class="eval">
		<div class="title"><strong>辅导员考核</strong></div>
		<div class="container">
			<div class="school-item" data-schoolid="1">
				<div class="school-item-box">
					<div class="school-name" style="background: #ed1b25;">
						电信学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="2">
				<div class="school-item-box">
					<div class="school-name" style="background: #902692;">
						计算机学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="3">
				<div class="school-item-box">
					<div class="school-name" style="background: #642f8c;">
						经管学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="4">
				<div class="school-item-box">
					<div class="school-name" style="background: #2c318d;">
						运输学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="5">
				<div class="school-item-box">
					<div class="school-name" style="background: #0055ab;">
						土建学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="6">
				<div class="school-item-box">
					<div class="school-name" style="background: #00aa9e;">
						机电学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="7">
				<div class="school-item-box">
					<div class="school-name" style="background: #02a554;">
						电气学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="8">
				<div class="school-item-box">
					<div class="school-name" style="background: #8dc701;">
						理学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schooid="9">
				<div class="school-item-box">
					<div class="school-name" style="background: #f6e800;">
						法学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="10">
				<div class="school-item-box">
					<div class="school-name" style="background: #ffc500;">
						语传学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="11">
				<div class="school-item-box">
					<div class="school-name" style="background: #ff9400;">
						软件学院
					</div>
				</div>
			</div>
			<div class="school-item" data-schoolid="12">
				<div class="school-item-box">
					<div class="school-name" style="background: #f56031;">
						建艺学院
					</div>
				</div>
			</div>
			<div class="backTo js-back"><span>退出考核</span></div>
		</div>
	</body>
</html>