@font-face {
  font-family: 'iconfont';
  src: url("../../fonts/iconfont.eot");
  /* IE9*/
  src: url("../../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/iconfont.woff") format("woff"), url("../../fonts/iconfont.ttf") format("truetype"), url("../../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.nav {
  height: 44px;
  width: 100%;
  background: #373737;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; }
  .nav .logo {
    display: inline-block;
    height: 44px;
    width: auto;
    line-height: 44px;
    color: #fff;
    margin-left: 24px;
    float: left; }
  .nav .user {
    line-height: 44px;
    color: #fff;
    float: right;
    margin-right: 24px; }
    .nav .user i {
      margin-right: 8px; }

.content {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1100px !important;
  min-height: 800px !important; }
  .content .sidebar {
    width: 240px;
    height: 100%;
    background: #F2F2F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative;
    float: left; }
    .content .sidebar.hide {
      display: none; }
    .content .sidebar .func-item {
      height: 44px;
      background: #F2F2EA;
      border-bottom: 1px solid #E6E6DE;
      cursor: pointer; }
      .content .sidebar .func-item:hover {
        background: #E6E6E4; }
      .content .sidebar .func-item .func-icon {
        height: 44px;
        width: 44px;
        background: #DD6B61;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        float: left;
        text-align: center; }
        .content .sidebar .func-item .func-icon i {
          line-height: 44px; }
      .content .sidebar .func-item .func-name {
        height: 44px;
        width: auto;
        line-height: 44px;
        display: inline-block;
        float: left; }
        .content .sidebar .func-item .func-name span {
          margin-left: 16px; }
    .content .sidebar .side-copyright {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 12px;
      font-size: 12px;
      color: #666; }
  .content .main-block {
    position: absolute;
    left: 240px;
    right: 0;
    height: 100%;
    display: inline-block;
    float: left; }
    .content .main-block.large {
      left: 0; }
    .content .main-block .teacherInfo-hd {
      margin: 16px;
      position: relative; }
      .content .main-block .teacherInfo-hd .title {
        font-size: 24px; }
      .content .main-block .teacherInfo-hd .teacher-count {
        margin-left: 8px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        vertical-align: -1px; }
        .content .main-block .teacherInfo-hd .teacher-count i {
          font-style: normal; }
      .content .main-block .teacherInfo-hd .operation-box {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        display: inline-block;
        height: 25px; }
      .content .main-block .teacherInfo-hd .clear {
        display: inline-block;
        clear: both; }
    .content .main-block .teacherInfo-bd {
      margin: 0 16px; }
      .content .main-block .teacherInfo-bd table {
        text-align: center;
        width: 100%; }
        .content .main-block .teacherInfo-bd table tr:nth-child(odd) {
          background: #F9F9F9; }
        .content .main-block .teacherInfo-bd table th {
          border-bottom: 2px solid #ddd;
          padding: 12px; }
        .content .main-block .teacherInfo-bd table td {
          padding: 12px 5px;
          font-style: normal;
          border-top: 1px solid #ddd; }
    .content .main-block .studentInfo-hd {
      margin: 16px;
      position: relative; }
      .content .main-block .studentInfo-hd .back-arrow {
        font-size: 24px;
        cursor: pointer;
        margin-right: 4px; }
      .content .main-block .studentInfo-hd .teacher-name {
        font-size: 24px; }
      .content .main-block .studentInfo-hd .student-count {
        margin-left: 8px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        vertical-align: -1px; }
        .content .main-block .studentInfo-hd .student-count i {
          font-style: normal; }
      .content .main-block .studentInfo-hd .operation-box {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        display: inline-block;
        height: 25px; }
    .content .main-block .studentInfo-bd {
      margin: 0 16px; }
      .content .main-block .studentInfo-bd table {
        font-size: 14px;
        text-align: center;
        width: 100%;
        table-layout: fixed; }
        .content .main-block .studentInfo-bd table th {
          border-bottom: 2px solid #ddd;
          padding: 12px; }
        .content .main-block .studentInfo-bd table tr:nth-child(odd) {
          background: #F9F9F9; }
        .content .main-block .studentInfo-bd table tbody tr {
          cursor: pointer; }
          .content .main-block .studentInfo-bd table tbody tr:hover {
            background: #ddd; }
        .content .main-block .studentInfo-bd table tbody td {
          padding: 12px 5px;
          font-style: normal;
          border-top: 1px solid #ddd; }
          .content .main-block .studentInfo-bd table tbody td span {
            vertical-align: middle;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .content .main-block .studentInfo-bd table tbody td.hasPhoto {
            color: #8BC58A; }
      .content .main-block .studentInfo-bd .pagination {
        text-align: center;
        margin: 20px; }
        .content .main-block .studentInfo-bd .pagination .page {
          font-style: normal;
          margin: 0 4px; }
          .content .main-block .studentInfo-bd .pagination .page i {
            font-style: normal; }

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  .modal.show {
    display: block; }
  .modal .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 256px;
    width: 320px;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: auto; }
    .modal .modal-content .title {
      display: block;
      margin: 16px;
      font-size: 24px; }
    .modal .modal-content .item {
      margin: 0 16px;
      margin-right: 18px; }
      .modal .modal-content .item .text {
        margin-bottom: 8px; }
      .modal .modal-content .item .input {
        margin-bottom: 8px; }
        .modal .modal-content .item .input input {
          width: 100%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          line-height: 24px;
          padding: 0px 8px; }
    .modal .modal-content .operation-box {
      text-align: center;
      margin: 16px 0px;
      width: 100%;
      float: left; }
      .modal .modal-content .operation-box span {
        margin: 0px 8px; }
    .modal .modal-content.student {
      width: 560px;
      height: 625px; }
      .modal .modal-content.student .row {
        width: 100%; }
      .modal .modal-content.student .sm-item {
        width: 50%;
        display: inline-block;
        float: left; }
      .modal .modal-content.student .ful-item {
        width: 100%;
        display: block;
        float: left; }
      .modal .modal-content.student .item-content {
        width: 100%;
        margin-top: 8px;
        padding: 0 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; }
        .modal .modal-content.student .item-content .text {
          margin-bottom: 8px; }
        .modal .modal-content.student .item-content input {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 100%;
          line-height: 24px;
          padding: 0px 8px; }
        .modal .modal-content.student .item-content textarea {
          width: 100%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          line-height: 24px;
          padding: 0 8px;
          resize: none; }

.btn {
  color: #fff;
  height: 24px;
  width: 48px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 4px 8px;
  margin-left: 4px;
  cursor: pointer; }
  .btn.btn-dark-green {
    background: #5c825b; }
  .btn.btn-green {
    background: #8BC58A; }
  .btn.btn-red {
    background: #DD6B61; }
  .btn.btn-yellow {
    background: #f2da6d; }
  .btn.btn-blue {
    background: #0086b3; }
  .btn.btn-orange {
    background: #f0ad4e; }

/*# sourceMappingURL=info.css.map */
